
.board {
	border: 2px solid #ccc;
	margin: 30px auto;
}

.board__square {
	border: 1px solid #ccc;
	background: #ccc;
	padding: 5px;
	text-align: center;
	font-size: 0.8rem;
}

.board-small .board__square {
	width: 10px;
	height: 10px;
}

.board-large .board__square,
.board-guessing .board__square {
	width: 40px;
	height: 40px;
}

.board-large .board__square[data-status="Empty"]:hover,
.board-guessing .board__square[data-status="Empty"]:hover,
.board-guessing .board__square[data-status="Ship"]:hover {
	opacity: 0.9;
	cursor: pointer;
}

.board-end .board__square {
	width: 20px;
	height: 20px;
}

.board-end .board__square:hover {
	opacity: 1;
	cursor: unset;
}

.board-small .board__header,
.board-small th {
	font-size: 0.8rem;
}

.board__square[data-status="Empty"],
.board-guessing .board__square[data-status="Ship"] {
	background: #61bdf3;
}

.board__square[data-status="Ship"] {
	background: #184a67;
}

.board__square[data-status="Miss"] {
	background: #848482;
}

.board__square[data-status="Hit"] {
	background: #a55b07;
}

.board__square[data-status="Sunk"] {
	background: #6c0f0f;
}
