/* Error Message */
.error-msg {
	color: #d70303;
	font-size: 0.9rem;
	font-weight: bold;
	font-style: italic;
}

/* App */
.app {
  text-align: center;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	position: relative;
}

.app-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header h1 {
	font-size: 28px;
	margin: 20px 0;
}

.app-content {
	min-height: calc(100vh - 100px);
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
	border: none;
	border-radius: 3px;
	padding: 10px 15px;
	background-color: #1a971c;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;

}

.btn:hover {
	opacity: 0.9;
}

.quitGameBtn {
	position: absolute;
	right: 0;
	top: 20px;
	background-color: #bb0404;
}

.board {
	border: 2px solid #ccc;
	margin: 30px auto;
}

.board__square {
	border: 1px solid #ccc;
	width: 50px;
	height: 50px;
	background: #ccc;
	padding: 5px;
	text-align: center;
	cursor: pointer;
	font-size: 0.8rem;
}

.board__square[data-status="Empty"] {
	background: #61bdf3;
}

.board__square[data-status="Ship"] {
	background: #184a67;
}

.board__square[data-status="Miss"] {
	background: #848482;
}

.board__square[data-status="Hit"] {
	background: #a55b07;
}

.board__square[data-status="Sunk"] {
	background: #6c0f0f;
}


.board__square:hover {
	opacity: 0.9;
}
