/* Error Message */
.error-msg {
	color: #d70303;
	font-size: 0.9rem;
	font-weight: bold;
	font-style: italic;
}

/* App */
.app {
	text-align: center;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	position: relative;
}

.app-header {
	background-color: #282c34;
	min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.app-header h1 {
	font-size: 28px;
	margin: 20px 0;
}

.app-content {
	min-height: calc(100vh - 100px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btn {
	border: none;
	border-radius: 3px;
	padding: 10px 15px;
	background-color: #1a971c;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.9;
}

.quitGameBtn {
	position: absolute;
	right: 0;
	top: 20px;
	background-color: #bb0404;
}

/*
	Grid System
*/

.grid {
	display: flex;
	flex: 0 1 auto;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: top;
	margin-left: -15px;
	margin-right: -15px;
}
/* Full width */
.grid .col {
	flex-basis: 100%;
	max-width: 100%;
}
/* 1/4 */
.grid .col.col-3 {
	flex-basis: 25%;
	max-width: 25%;
}
/* 1/3 */
.grid .col.col-4 {
	flex-basis: 33.33333333%;
	max-width: 33.33333333%;
}
/* 1/2 */
.grid .col.col-6 {
	flex-basis: 50%;
	max-width: 50%;
}
/* 2/3 */
.grid .col.col-8 {
	flex-basis: 66.66666666%;
	max-width: 66.66666666%;
}
/* 3/4 */
.grid .col.col-9 {
	flex-basis: 75%;
	max-width: 75%;
}
